body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none; /* Enlever les puces */
    padding: 0;
    margin: 0;
}

ul li {
    margin: 10px 0; /* Espacement entre les éléments */
}

ul li a {
    text-decoration: none; /* Enlever la ligne sous les liens */
    color: #007bff; /* Couleur du texte des liens */
    font-size: 18px; /* Taille de la police */
}

ul li a:hover {
    color: #0056b3; /* Couleur au survol */
    text-decoration: underline; /* Ligne soulignée au survol */
}
