body {
    font-family: Arial, sans-serif;
    background-color: #E1CE9A;
    color: #333;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
    padding: 20px;
}

h1, h2 {
    font-size: 2em;
    color: #4C3C3A;
    margin-top: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    max-width: 80%;
    margin: 20px auto;
    color: #555;
}

a {
    color: #4C3C3A;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
}

a:hover {
    color: #2F2117;
    text-decoration: underline;
}

hr {
    width: 50%;
    border: 1px solid #4C3C3A;
    margin: 20px auto;
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer h1 a, footer h2 a {
    color: #4C3C3A;
    font-size: 1.5em;
    text-decoration: none;
}

footer h1 a:hover, footer h2 a:hover {
    text-decoration: underline;
}
