body{
    background-color:#E56D6E;
    margin: auto;
}

button{
    width: 250px;
    height: 200px;
    background-color: #2F9A9E;
    color:white;
    border: 2px solid white;
    border-radius: 26px;
    font-size: 2em;
    margin: 30px;
    transition: 0.2s;
}

button:hover {
    background-color: #08D4DC;
    color:black;
    border: 2px solid black;
    transition: 1500ms;
}