.fond3{
    background-color:#cc01ff;
    text-align: center;
}

.block1{
    background-color:#3f124b;
    background-color:#a876b4;
    width: 450px;
    height: 400px;
    border: 2px solid rgb(211, 123, 123);
    border-radius: 2%;
    margin: 1%;
    float: left;
    text-align: center;
    margin-left: 50px;

}
.block2{
    background-color:#3f124b;
    background-color:#a876b4;
    width: 450px;
    height: 400px;
    border: 2px solid rgb(211, 123, 123);
    border-radius: 2%;
    margin: 1%;
    clear: both;
    text-align: center;
    margin-left: 50px;

}
.block3{
    background-color:#3f124b;
    background-color:#a876b4;
    width: 450px;
    height: 400px;
    border: 2px solid rgb(211, 123, 123);
    border-radius: 2%;
    margin: 1%;
    float: right;
    text-align: center;
    margin-left: 50px;

}


.bordur1{
    width: 420px;
    height: 60px;
    text-align: center;
    background-color: rgb(3, 146, 115);
    margin-left: 4%;
    margin: 5px;
    border-radius: 2px;
    border: 3px solid #000000;
    
}


header{
    width: 1500px;
    height: 70px;       
    text-align: center;
    background-color:#fef5e7(105, 7, 7);
    border-radius: 4px;
    border: 3px solid #a876b4;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    
}


footer{
    width: 1500px;
    height: 70px;       
    text-align: center;
    background-color: rgb(206, 84, 218);
    border-radius: 4px;
    border: 3px solid #eaccf7;
    margin: auto;
    clear: both;
    
}

img{
    height: 290px;
    width: 270px;
    
}